<% if @current_user.present? %>

<%= link_to ' Home ', profile_path(@current_user.id)  %>   |
<%= link_to ' Logout', login_path, method: :delete %>

<h3><strong><%= @current_user.name%> | <%= image_tag @current_user.avatar %></strong></h3>

<% end %>

<br>

<div class="row" id="lister">
  <div class="col-md-3">
    <h3>Create your Workout: </h3>
  </div>
  <div class="col-md-5" id="activities_list">

  </div>
</div>
<br>

<div class="workouts">
  <div class="row">
      <div class="col-md-3" id= 1>
        <%=link_to new_workout_with_activity_path('cycle'), method: :post do %>

          <%= image_tag 'bicycle.png'%>
        <% end %>
      </div>

      <div class="col-md-3" id= 2>
        <%=link_to new_workout_with_activity_path('swim'), method: :post do %>
        <%= image_tag 'swim.png'%>
        <% end %>
      </div>

      <div class="col-md-3" id= 3>
        <%=link_to new_workout_with_activity_path('strength'), method: :post do %>
        <%= image_tag 'weightlifting.png'%>
        <% end %>
      </div>
  </div>

  <div class="row">
      <div class="col-md-3" id= 4>
        <%=link_to new_workout_with_activity_path('hiking'), method: :post do %>
          <%= image_tag 'hiking.png'%>
        <% end %>
      </div>

      <div class="col-md-3" id= 5>
        <%=link_to new_workout_with_activity_path('team'), method: :post do %>
          <%= image_tag 'team.png'%>
        <% end %>
       </div>

      <div class="col-md-3" id= 6>
        <%=link_to new_workout_with_activity_path('hiit'), method: :post do %>
          <%= image_tag 'combat.png'%>
        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="col-md-3" id= 7>
      <%=link_to new_workout_with_activity_path('run'), method: :post do %>
        <%= image_tag 'extreme.png'%>
      <% end %>
    </div>
    <div class="col-md-3" id= 8>
      <%=link_to new_workout_with_activity_path('water_sports'), method: :post do %>
        <%= image_tag 'watersp.png'%>
      <% end %>
     </div>
    <div class="col-md-3" id= 9>
      <%=link_to new_workout_with_activity_path('walk'), method: :post do %>
        <%= image_tag 'karate.png'%>
      <% end %>
     </div>
  </div>

</div>
