

<h3><strong><%= @current_user.name%> | <%= image_tag @current_user.avatar, class: "avatar" %></strong></h3>

<div class="workouts">


  <h3><strong>Your Previous Workouts :</strong></h3>
    <ul>
      <% @current_user.workouts.each do |w| %>

        <li><%= link_to w.workout_name, "/workouts/#{w.id}/edit" %></li>
        <li><%= w.date %></li>

      <% w.activities.each do |a| %>

        <li><%=  a.activity_type.upcase %></li>
        <li><%=  a.distance %> km(s)</li>
        <li><%=  a.length %> mins</li>

          <% end %>
        <br>
        <% end %>
    </ul>

</div>




<!-- <style>
  #map{
    width:100%;
    height:400px;
  }
</style> -->
<!-- <div id="map">
  </div>
  <script>
  var dog_locations = <%#= @dogs.pluck(:latitude,:longitude).to_json %>;

  // var map;
        function initMap() {
          // var uluru = {lat: <%#= @activity.last.latitude %>, lng: <%#= @activity.last.longitude %> }
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
          });

          for( let i=0; i< dog_locations.length; i++){
            let dog = dog_locations[i];
            new google.maps.Marker({
              position: {
                let: dog[0],
                lng: dog[1]
              },
              map:map
            });
          }
        }
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoAQ-eYXFkllOuv6-skFDVrrh8ySUCEZo&callback=initMap" type="text/javascript">
</script> -->
