<h3><strong>Edit Account</strong></h3>

<div class="user">
<%= form_for @current_user do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </fieldset>
  <fieldset>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </fieldset>
  <fieldset>
    <%= f.label :height, 'Height (m)' %>
    <%= f.text_field :height %>
  </fieldset>
  <fieldset>
    <%= f.label :weight, 'Weight (kgs)' %>
    <%= f.text_field :weight %>
  </fieldset>
  <fieldset>
    <%= f.label :avatar, 'Image URL' %>
    <%= f.url_field :avatar %>
  </fieldset>

  <br>
  <%= f.submit 'Save' %>
<% end %>
</div>
