<h3><strong>Register</strong></h3>

<span class="errors">
  <% if flash[:errors].present? %>
    <strong>Please correct the following errors with your registration:</strong>
    <ol>
    <% flash[:errors].each do |e| %>
      <li><%= e %></li>
    <% end %>
    </ol>
  <% end %>
</span>

<div class="user">
<%= form_for User.new do |f| %>

  <%= f.label 'Name : ' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label 'Email : ' %>
  <%= f.email_field :email %>
  <br>
  <%= f.label 'Password : ' %>
  <%= f.password_field :password %>
  <br>
  <%= f.label 'Confirm Password : ' %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.label 'Age : ' %>
  <%= f.number_field :age %>
  <br>
  <%= f.label 'Height: ' %>
  <%= f.text_field :height %>
  <br>
  <%= f.label 'Weight : ' %>
  <%= f.text_field :weight %>
  <br>
  <%= f.label 'Avatar : ' %>
  <%= f.text_field :avatar %>
  <br>
  <%= f.submit 'Submit' %>

<% end %>
</div>
