<h3><strong>Register</strong></h3>

<% if flash[:errors].present? %>
  <strong>Please correct the following errors with your registration:</strong>
  <ol>
  <% flash[:errors].each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ol>
<% end %>

<div class="user">
<%= form_for User.new do |f| %>

  <%= f.label 'Name : ' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label 'Email : ' %>
  <%= f.email_field :email %>
  <br>
  <%= f.label 'Password : ' %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit 'Submit' %>
  <div id="calendar">
    should be a calendar here

  </div>
<% end %>
</div>
