
<h3><strong><%= @current_user.name%> | <%= url_tag @current_user.avatar, class: "avatar" %></strong></h3>
<br>

<% @bmi %>
<!-- = @current_user.weight / (@current_user.height * @current_user.height) %> -->
<div class="container" id="user_stats">
    <div class="row">
        <div class="col-md-2" style="background-color:lavender;"><strong>AGE:</strong><em> <%= @current_user.age %>  </em></div>
        <div class="col-md-2" style="background-color:lightgreen;"><strong>Height:</strong><em> <%= @current_user.height %> m</em></div>
        <div class="col-md-2" style="background-color:lightblue;"><strong>Weight: </strong><em><%= @current_user.weight %> kg</em></div>
        <div class="col-md-2" style="background-color:lightyellow;"><strong>BMI: </strong><em><%= @bmi.round(2) %> </em></div>
    </div>
  </div>

  <div class="container" id="planner">
    <h3>Planner: </h3>
    <div class="row">
    <div class="col-sm-4 col-md-10">
      <%= image_tag 'cal.jpg'%><br>
     </div>
    </div>
</div>

<div class="container text-center" id="db-workouts">
    <div class="row">
    <div class="col-md-4">
      <h3><%= link_to 'Workouts', new_workout_path(@current_user.id) %> </h3><br>
      <%= image_tag 'trail-run.jpg'%><br>
      <small><i>Photo by David Marcu on Unsplash</i></small></div>
      <div class="col-md-3">
      <h4><%= link_to 'Edit Existing Workout', workout_path(@current_user.id) %> </h4><br>
      <%= image_tag 'ropes.jpg'%><br>
      <small><i>Photo by David Marcu on Unsplash</i></small></div>
    <div class="col-md-4">
      <h3><%= link_to 'View Previous Workouts', "/workouts/#{@current_user.id}/show" %></h3><br>
      <%= image_tag 'resting.jpg'%><br>
      <small><i>Photo by Ben Blennerhassett on Unsplash</i></small></div>
  </div>
</div>
