<h1>Register</h1>

<%= flash[:error] %>

<%= form_tag login_path do %>

  <%= label_tag :name %>
  <%= text_field_tag :name, nil %>
  <br>
  <%= label_tag :email %>
  <%= email_field_tag :email, nil %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password, nil %>
  <br>
  <%= submit_tag 'Register' %>

<% end %>
