
<h3><strong><%= @current_user.name%> | <%= image_tag @current_user.avatar, class: "avatar" %></strong></h3>
<br>

<% @bmi = (@current_user.weight / (@current_user.height * @current_user.height)).round(2) %>
<div class="container" id="user_stats">
    <div class="row">
        <div class="col-md-2" style="background-color:lavender;"><strong>AGE:</strong><em> <%= @current_user.age %>  </em></div>
        <div class="col-md-2" style="background-color:lightcoral;"><strong>Height:</strong><em> <%= @current_user.height %> m</em></div>
        <div class="col-md-2" style="background-color:lightblue;"><strong>Weight: </strong><em><%= @current_user.weight %> kg</em></div>
        <div class="col-md-2" style="background-color:lightyellow;"><strong>BMI: </strong><em><%= @bmi %> </em></div>
    </div>
  </div>


<div class="container text-center" id="db-workouts">
    <div class="row">
    <div class="col-md-4">
      <!-- <h3>Create New Workout</h3> -->
      <h4><%= link_to 'Create New Workout', new_workout_path(@current_user.id) %> </h4><br>
      <%= image_tag 'trail-run.jpg'%><br>
      <small><i>Photo by David Marcu on Unsplash</i></small></div>

    <div class="col-md-4">
      <!-- <h4>View Previous Workouts</h4><br> -->
      <h4><%= link_to 'Previous Workouts', workout_path(@current_user.id) %></h4><br>
      <%= image_tag 'resting.jpg'%><br>
      <small><i>Photo by Ben Blennerhassett on Unsplash</i></small></div>
  </div>
</div>



<div class="container" id="planner">
  <div class="row">
    <h3>Create a Workout Plan: </h3>
    <div class="col-md-4">
      <%= form_for Plan.new do |f| %>
        <strong><%= f.label 'Start Date : ' %></strong>
        <%= f.date_field :start %>
    </div>
      <div class="col-md-4">
        <strong><%= f.label 'End Date : ' %></strong>
        <%= f.date_field :end %>
      <% end %>
      </div>
  </div>
</div>

<div class="container" id="weather">
    <div class="row">
      <h3>Forecast: </h3>
        <br>
        <form id=city-form>
          <div class="col-md-3" id="button"><input type="submit" value="Enter City Name"></div>
          <div class="col-md-3"><input type="text" id="city-name"></div>
        </form>
      <!-- </div> -->
      <br>

      <div class="row">
        <div class="col-md-2" id="desc">
        </div>
        <div class="col-md-2" id="temp">
        </div>
        <div class="col-md-2" id="icon">
        </div>
      </div>
  </div>
</div>

<!-- </div> -->

<script>
$("#city-form").submit(function(event){
  event.preventDefault();
  var cityName = $("#city-name").val();
  getWeather(cityName);
  });

  const getWeather = function(city){
      $.get("http://api.openweathermap.org/data/2.5/weather?q="+city+"&units=metric&APPID=<%=Rails.application.secrets.weather_api_key%>", function(data){
        console.log(data)
        $('#desc').html(data.weather[0].description);
        $("#temp").html(data.main.temp + "&#8451;");
        $("#icon").html(data.weather[0].icon);
      });
  }
</script>
